GOOGLE_API_KEY=your_google_api_key_here
FRONTEND_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
IMAGE_GENERATION_MODE=local_mock
GOOGLE_CSE_API_KEY=your_google_cse_api_key_here
GOOGLE_CSE_CX=your_google_cse_cx_here
# Optional local image folders (default shown below):
# FRONTEND_PUBLIC_ROOT=roomGPT_frontend/public
# LOCAL_ORIGINAL_DIR=roomGPT_frontend/public/local-images/original
# LOCAL_RENDERED_DIR=roomGPT_frontend/public/local-images/rendered
